@page "/starships"
@using Staris.Shared.Components.Code.StarShip
@inherits IndexStarShip
<PageTitle>StarShips</PageTitle>

<h1>Lista de Naves</h1>
@if (Model is not null && IsDone)
{
    <section class="page">
        <div class="cards-wrapper">
            @foreach (var m in Model)
            {
                <CardComponent>
                    <BodyFragment>
                        <img src="@(RemoverSubstring(m.ImageUrl))" alt="@m.Name" />
                    </BodyFragment>
                    <FooterFragment>
                        <h2 class="title">@m.Name</h2>
                        <p class="description">Modelo: @m.Model</p>
                        <p class="description" title="Quantidade necessária de tripulantes para a nave">Tripulantes: @m.Crew</p>
                        <p class="description">Custo em Crdt: @m.CostInCredits</p>
                        <p class="description">Fabricante: @m.Manufacturer</p>
                        <p class="description" title="O número máximo de Megalights que esta nave pode viajar">MGLT @m.Mglt</p>
                        <p class="description" title="Velocidade máxima na atmosfera">Vel. Máx: @m.MaxSpeedAtmosphering</p>
                    </FooterFragment>
                </CardComponent>
            }
        </div>
    </section>

}
else
{
    <div>
        ....Carregando
    </div>
}
