@using Staris.Shared.Components.Code.Shared
@inherits Pagination

@if (TotalPages > 1)
{
    <nav aria-label="Page navigation">
        Actual page: @Page
        <ul class="pagination pagination-primary">

            @if (Page > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@GetUrl(1)">
                        <span aria-hidden="true" class="first-item">
                            </span>
                    </a>
                </li>
            }

            @if (StartPage != MaxPage)
            {
                @for (int i = StartPage; i <= MaxPage; i++)
                {
                    string subClass = Page == i ? "active" : string.Empty;
                    if(StartPage == 1 && Page == 0 && i == 1) subClass = "active";

                    <li class="page-item @subClass">
                        @if (!string.IsNullOrEmpty(subClass))
                        {
                            <span class="page-link">
                                @i
                            </span>
                        }
                        else
                        {
                            <a class="page-link" href="@GetUrl(i)">@i</a>
                        }
                    </li>
                }
            }

            @if (Page < TotalPages && TotalPages > 3)
            {
                <li class="page-item">
                    <a class="page-link" href="@GetUrl(TotalPages)">
                        <span aria-hidden="true" class="last-item">
                        </span>
                    </a>
                </li>
            }
        </ul>
    </nav>
}
